<!-- <ion-header>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="homeimg.src" id="homeImage"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-text color="medium" id="welcomeText">
          <h5><b>Welcome to Communiti, an open lending marketplace for small businesses!</b></h5><br><br>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" href="/home">
          Register as a business
          <ion-icon slot="end" name="storefront"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" href="/lenderonboarding">
          Register as a lender
          <ion-icon slot="end" name="rocket"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
