ion-list {
    height: 100%;
    width: 90vw;
    margin-left: 5vw;
}
#submitButton {
    margin-top: 10px;
    width: 100%;
}
#dateinput {
    margin-bottom: 15px;
}
#dateField {
    margin-top: 15px;
}
p{
    margin-left: 5vw; 
}