<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loans">
      <ion-icon name="create"></ion-icon>
      <ion-label>Loans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bids">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Bids</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon name="file-tray"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>